################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InventoryServer/bin/Debug/netcoreapp3.1
/InventoryServer/obj
/.vs
